<div class="{{class}} mid-section">
    <div class="expandable-section-header">
        <div class="expand-symbol"></div>
        <h2>{{title}}</h2>
    </div>
    <div class="section-collapsible">
        <div class="dark-section">
        {% if tasks %}
            <ul>
            {% for task in tasks %}
                <li class="task">
                    {% include "task.html" with task=task type="due" %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p class="subtle centered">No upcoming tasks!</p>
        {% endif %}
        </div>
    </div>
</div>