.list.widget {
    grid-area: list;
    margin: 0;
    overscroll-behavior: contain;
    overflow-y: scroll;
    grid-auto-rows: min-content;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list.widget::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .list.widget {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    position: relative;
    /* Firefox */
  }
  
  .list.widget>section {
    margin: var(--section-gap) 0 0 var(--section-gap);
    position: relative;
  }
  
  .list.widget>section:last-child {
    margin-bottom: var(--section-gap);
  }

  .list.widget .dark-section button:focus {
    outline: var(--focus-highlight) solid var(--focus-border-width);
  }

  .list.widget .title {
    transition: background-color .1s, color .4s;
    border-radius: 12px;
    padding: 8px 8px 8px 8px;
  }

  .list.widget .title {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: left;
  }

  .list.widget .title-date-wrapper label {
    flex: 1 0 0px;
    width: 100%;
    height: 100%;
  }
  
  .list.widget time {
    flex: 0 1 0px;
  }

  .list.widget .task-wrapper.complete:hover p,
  .list.widget .task-wrapper.complete .title:focus p,
  .list.widget .task-wrapper.complete:hover s,
  .list.widget .task-wrapper.complete .title:focus s {
    color: var(--g2);
}

.list.widget .task-wrapper.complete:hover s,
.list.widget .task-wrapper.complete .title:focus s {
  text-decoration: line-through solid var(--g2) 2px;
}