.list.widget {
    grid-area: list;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    position: relative;
    overflow-y: scroll;
    overscroll-behavior: contain;
    margin: 0;
    scrollbar-width: none;
  }

  @media (min-width:961px) {
    .list.widget {
      width: 1fr;
      min-width: min-content;
    }
  }

/* Hide scrollbar for Chrome, Safari and Opera */
.list.widget::-webkit-scrollbar {
    display: none;
  }
  
  .list.widget>section {
    position: relative;
    width: 100%;
  }
  
  .list.widget>section:last-child {
    margin-bottom: var(--section-gap);
  }

  .list.widget .dark-section button:focus {
    outline: var(--focus-highlight) solid var(--focus-border-width);
  }
  
  .list.widget .title {
    width: 100%;
    height: 100%;
    text-align: left;
  }

  .list.widget .title-date-wrapper label {
    flex: 1 0 0px;
    width: 100%;
    height: 100%;
  }
  
  .list.widget time {
    flex: 0 1 0px;
  }

  @media (min-width:961px) {
    .list.widget .title-date-wrapper {
      flex-direction: row;
    }

    .list.widget .date-time-wrapper {
      align-items: flex-end;
    }
  }
  .list.widget .date-time-wrapper {
    align-items: flex-start;
  }

.task-wrapper.complete .title:focus *,
.task-wrapper.complete:hover *,
.task-wrapper.complete.highlighted *,
.task-wrapper.complete.highlighted .checkmark {
    color: var(--g2);
}

.task-wrapper.complete:hover s,
.task-wrapper.complete.highlighted s,
.task-wrapper.complete .title:focus s {
  text-decoration: line-through solid var(--g2) 2px;
}