.popup {
    z-index: 10;
    background-color: var(--g8);
    width: fit-content;
    border-radius: var(--box-corner-rounding);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px var(--popup-border-width) var(--popup-border);
    padding: calc(var(--popup-border-width) - 1px);
}

.popup:has(header) {
    padding-top: 0;
}

.popup .mid-section {
    background-color: unset;
}

div[data-floating-ui-portal] > div {
    z-index: 5;
}

.popup header {
    background-color: var(--popup-border);
}

.popup.context-menu {
    border-radius: 10px;
    min-height: max-content;
  }
  
    .popup.context-menu li {
        padding: 5px 10px 5px 10px;
        margin: 0;
    }

        .popup.context-menu li i {
            color: var(--g3);
        }

        .popup.context-menu li:not(:last-of-type) {
            border-bottom: solid var(--g4) 3px;
        }
        .popup.context-menu li p {
            text-align: start;
            min-width: max-content;
        }
        .popup.context-menu li:hover,
        .popup.context-menu li:focus-within {
            background-color: var(--list-hover);
            border-radius: 4px;
        }

        .popup.context-menu li:focus-within {
            outline: var(--focus-highlight) solid var(--focus-border-width);
        }

        .popup.context-menu li i {
            font-size: 100%;
        }

    .popup.context-menu button {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    .popup.context-menu header {
        border-radius: var(--small-box-corner-rounding) var(--small-box-corner-rounding) 0 0;
        padding: 3px 10px 3px 10px;
        color: var(--g1);
    } 

    .popup .confirmation {
        width: 340px;
    }

#portal-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
}