# Secrets
.env

# Node modules
node_modules
tasks-fe/node_modules

# Caches
todo/__pycache__
tasks/__pycache__
tasks/migrations/__pycache__

# Dev 
.vscode/settings.json
devNotes.md
venv/pyvenv.cfg
venv/