asgiref==3.8.1
Django==5.0.0
django-cors-headers==3.10.1
djangorestframework==3.15.1
packaging==21.3
pip-review==1.1.1
psycopg2==2.9.3
psycopg2-binary==2.9.9
pyparsing==3.0.9
python-decouple==3.6
sqlparse==0.4.2
tzdata==2022.1
