.new-wrapper {
    min-width: 400px;
    width: 40vh;
  }

  .new-wrapper form {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
  }

  .new-wrapper form .title {
    width: 100%;
  }

    .new-wrapper form input,
    .new-wrapper form textarea {
      color: var(--g1);
      font-size: var(--p-size);
    }

    .new-wrapper form label {
      font-size: var(--p-size);
    }

    .new-wrapper form label.color .name-and-errors input {
      font-size: initial;
    }
    
    .new-wrapper form .start-due-wrapper .time input {
      width: 100px;
    }

  .new-wrapper .start-due-wrapper {
    flex-wrap: wrap;
  }

  #title-color .color {
    flex: 1 0 0px;
    display: flex;
    flex-direction: column;
  }

  #title-color .color-bubble-wrapper {
    width: minmax(15px, 50%);
    min-width: 50%;
  }

  #title-color .popup-anchor {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 