/*#region Global Styling*/
body {
    margin: 0;
    background-color: none;
    background: var(--bg);
    overflow: hidden;
}

li {
    margin: 0;
    list-style: none;
}
  
ol,
ul,
dl {
    padding: 0;
    margin: 0;
}

li:not(:last-child) {
margin-bottom: 2px;
}

.floating {
    float: right;
}

.floating .right {
    right: -35px;
}

/*#endregion Global Styling*/
/*#region Home Layout*/
#home-wrapper {
    display: grid;
    background-color: rgb(37, 41, 46);
    grid-template-areas: "left-menu list slider calendar";
    grid-template-columns: min-content minmax(min-content, 2fr) var(--section-gap) 5fr;
    grid-template-rows: 100vh;
}

.calendar.widget {
    grid-area: calendar;
    margin: var(--section-gap) var(--section-gap) var(--section-gap) 0;
}

#left-menu {
    padding-left: var(--section-gap);
    margin: 0;
    grid-area: left-menu;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}

#left-menu>.btn i {
    font-size: var(--menu-icon-size);
}

#slider {
    width: var(--section-gap);
    grid-area: slider;
}
/*#endregion Home Layout*/
/*#region Font*/
/*#region Headers*/
h2 {
    font-family: "Secular One", sans-serif;
    font-weight: 600;
    color: var(--g1);
    font-size: var(--h2-size);
    padding: 0;
    margin: 0;
    line-height: 1;
    width: max-content;
}

h3 {
    font-size: var(--h3-size);
    color: var(--g3);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}
/*#endregion Headers*/
/*#region Text*/
p, 
.date,
.date input, 
.time input,
.time {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: var(--p-size);
    margin: 0;
    color: var(--g2);
}

.keep-whitespace {
    white-space: pre-line;
}

  li .date-time-wrapper .date,
  li .date-time-wrapper .time {
    justify-content: right;
  }
  

.date-time-wrapper {
  color: var(--g4);
  font-size: var(--smaller-p-size);
}
    .date-time-wrapper label.date,
    .date-time-wrapper label.time {
        font-weight: 100;
        color: var(--g4);
        font-size: medium;
    }
    
    .date-time-wrapper .date,
    .date-time-wrapper .date input,
    .date-time-wrapper .time input,
    .date-time-wrapper .time {
        display: flex;
        flex-wrap: wrap;
        font-family: "Azeret Mono", monospace;
    }

    .date-time-wrapper > * {
        width: fit-content;
    }

.subtle {
    font-style: italic;
    color: var(--g5);
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: var(--p-size);
  }
/*#endregion Text*/
/*#endregion Font*/
/*#region Layout/Style Helpers*/
.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aligned {
    display: flex;
    align-items: center;
}

.aligned.top {
    align-items: flex-start;
}

.aligned.end {
    justify-content: flex-end;
    gap: 7px;
}

.aligned.even {
    justify-content: space-around;
}

.columns {
    display: flex;
    flex-direction: column;
}

.rows {
    display: flex;
    flex-direction: row;
}

.columns.gap,
.rows.gap {
    gap: var(--section-gap);
}

.gap.small {
    gap: calc(var(--section-gap)/2);
}

.space-between {
    justify-content: space-between;
}

.same-size {
    display: flex;
}

.same-size > * {
    flex: 1 1 0px;
}

.max-width-height {
    min-width: max-content;
    min-height: max-content;
}

.full-width {
    width: 100%;
}

.take-full-space {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
    opacity: 0;
}

.input-sizer {
    display: inline-grid;
    justify-content: flex-start;
    grid-auto-flow: column;
    position: relative;
}

    .input-sizer.stacked {
            grid-auto-flow: row;
            align-items: stretch;
            grid-template-columns: 1;
            grid-auto-rows: fit;
        }
            .input-sizer.stacked::after,
            .input-sizer input,
            .input-sizer textarea {
            grid-area: 1 / 1;
            }

    .input-sizer::after,
    .input-sizer input,
    .input-sizer textarea {
        grid-area: 1 / 1;
        width: 10px;
        min-width: 100%;
        min-height: fit-content;
        height: 100%;
        padding: 0.25em;
        margin: 0;
        resize: none;
    }

    .input-sizer.take-full-width,
    .input-sizer.take-full-width::after {
        width: 100%;
    }

    .input-sizer.take-full-width::after,
    .input-sizer.take-full-width input,
    .input-sizer.take-full-width textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        resize: both;
    }

  .input-sizer::after {
    min-width: 60px;
    font: inherit;
    width: fit-content;
    content: attr(data-expand-content) ' ';
    background-color: rgb(0, 255, 255);
    visibility: hidden;
  }

/*#endregion Layout/Style Helpers*/
/*#region Re-Usable Elements*/
/*#region Inline Elements*/
/*#region Sections*/
.header-container, header {
    display: flex;
    padding: var(--section-gap);
    column-gap: var(--section-gap);
    justify-content: space-between;
    align-items: center;
}

.header-container.collapsible {
    width: fit-content;
  }

section .mid-section,
section.mid-section {
    background-color: var(--g8);
    border-radius: var(--box-corner-rounding);
    padding: var(--inner-box-padding);
    overflow: hidden;
}

section .more-padding,
section.more-padding {
    padding: calc(var(--inner-box-padding) * 2.5);
}

.dark-section {
    background-color: var(--g10);
    padding: var(--inner-box-padding);
    border-radius: var(--box-corner-rounding);
  }

.section-collapsible {
    display: block;
    transform-origin: 100% 7%;
    overflow: hidden;
}
/*#endregion Sections*/
/*#region Buttons*/
.btn {
    /* Main button class */
    border: none;
    opacity: 1;
    font-family: "Azeret Mono", monospace;
    color: var(--g2);
    padding: 5px;
    font-size: var(--p-size);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: box-shadow 0.2s, background-color 0.2s, color .2s, transform 0.2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*#region Button Styles*/
.btn.square {
    aspect-ratio: 1 / 1;
}
.btn.x-small {
    width: 25px;
    height: auto;
}

.btn.small {
    width: 35px;
    height: auto;
}

.btn.small.text {
    width: fit-content;
    text-wrap: nowrap;
    font-size: medium;
}

.btn.med {
    min-width: 100px;
    min-height: 30px;
}
.btn.large {
    min-width: 250px;
    min-height: 50px;
    height: fit-content;
    font-weight: bold;
    font-size: 35px;
}

.btn.large.text {
    font-size: 23px;
}

.btn.large i {
    height: 35px;
    margin: 5px;
}
/*#region Colors*/

.btn.bg {
    background-color: var(--g11);
}

.btn.btn-red,
.btn.btn-green,
.btn.btn-light-grey {
    color: var(--g1)
}
.btn.btn-red:focus,
.btn.btn-green:focus,
.btn.btn-light-grey:focus {
    background-color: var(--g2);
}
/* Red button */
.btn.btn-red {
    background-color: var(--btn-red-bg);
}
.btn.btn-red:focus,
.btn.btn-red:hover {
    color: var(--focus-highlight);
    background-color: var(--btn-red-shadow);
}
/* Green button */
.btn.btn-green {
    background-color: var(--btn-green-bg);
}
.btn.btn-green:focus,
.btn.btn-green:hover {
    color: var(--focus-highlight);
    background-color: var(--btn-green-shadow);
}
/* Grey button */
.btn.btn-light-grey {
    background-color: var(--btn-light-grey-bg);

}
/*#endregion Colors*/
.field-btns {
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field-btns .btn {
    padding: 4px;
}
/*#endregion Button Styles*/
/*#region Button States*/
button {
    background: none;
    border: none;
}

button:focus {
    outline: none;
}

.check-box-wrapper .checkmark {
    border-radius: 3px;
}

.btn:focus
{
    outline: solid white 3px;;
}

.btn:hover, .btn:focus{
    background-color: var(--list-hover);
    color: var(--focus-highlight);}
.btn:hover i svg, .btn:focus i svg {
    stroke: var(--focus-highlight);
}


.appear-on-hover {
  opacity: 0%;
  transition: opacity .5s;
  right: 0px;
  top: 5px;
}

.appear-on-hover.hover,
.clear.appear-on-hover.hover {
  opacity: 100%;
}

/*#endregion Button States*/
.btn i {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90%;
} 
.btn i svg {
    stroke: var(--g2);
    stroke-width: 4px;
    stroke-linecap: round;
}
/*#endregion Buttons*/
/*#region Forms*/
input,
textarea {
    font-size: var(--p-size);
    padding: 8px;
    width: 100%;
    background-color: var(--g10);
    border: none;
    border-radius: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: var(--g1);
}

:focus-visible {
    outline: var(--focus-highlight) solid var(--focus-border-width);
}

form input,
form label,
form textarea,
form h3 {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  border: none;
  color: var(--g3);
}
 
input[aria-invalid="true"],
textarea[aria-invalid="true"] {
    background-color: var(--failure-bg);
}

input[aria-invalid="true"]:focus,
input[aria-invalid="true"]:focus-visible,
textarea[aria-invalid="true"]:focus,
textarea[aria-invalid="true"]:focus-visible {
    outline: var(--failure-outline) solid var(--focus-border-width);
}

form .sublabel label,
form label.sublabel {
    font-size: var(--h5-size);
    color: var(--g4);
    margin-top: 0;
  }
    
  .error-list {
    color: var(--failure-outline);
    font-size: 17px;
    padding: 7px 0 7px 0;
    height: 100%;
  }
  
  ul.error-list {
    margin-left: 30px;
    margin-bottom: 15px;
  }
  
  .error-list li {
    list-style-type: square;
  }

hr {
    width: 70%;
    color: var(--g3);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.4;
    border-top: 3px solid;
    border-radius: 3px;
    
}
/*#endregion Forms*/
/*#endregion Inline Elements*/
/*#region Other Elements*/
/*#region Other Layers*/
.filter {
    background-color: rgba(0, 0, 0, 0.452);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: background-color .7s;
}

.filter:focus {
    background-color: rgba(0, 0, 0, 0.226);
}

.loading {
    display: flex;
    justify-content: center;
}

.loading>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    color: var(--g3);
    text-align: center;
}

.loading>div p {
    color: var(--g3)
}

.loading>div i {
    animation: jiggle 3s 4s infinite;
}
/*#endregion Other Layers*/
/*#endregion Other Elements*/
/*#endregion Re-Usable Elements*/
/*#region Animations*/
@keyframes jiggle {

    0%,
    5%,
    38%,
    100% {
        transform: rotate(0deg);
    }

    10%,
    20% {
        transform: rotate(6deg);
    }

    15% {
        transform: rotate(-6deg);
    }

    30% {
        transform: rotate(-4deg);
    }
}
/*#endregion Animations*/
