:root {
  --bg: #242425;
  --lightest-font: #cccbcb;
  --light-font: #9c9c9c;
  --mid-font: #757575;
  --subdued: #474747;
  --dark-font: #3f3f3f;
  --mid-dark: #191919;
  --darkest-dark: #111111;

  --success: #1eac1e;
  --overdue: #d33636;
  --button-primary: #273fac;
  --light-select: rgba(146, 146, 146, 0.089);

  /* Alerts */
  --alert-bg: #444444;
  --error-alert-bg: #751b1b;
  --success-alert-bg: #245e13;
  --notice-outline: #6d6d6d;
  --failure-outline: #e60000;
  --success-outline: #1abd1a;

  /* Buttons */
  --btn-green-bg: #1abd1a;
  --btn-green-shadow: #083b08;
  --btn-red-bg: #b90707;
  --btn-red-shadow: #520606;
  --btn-light-grey-bg: #888888;
  --btn-light-grey-shadow: #363636;
  --btn-grey-bg: #2c2c2c;
  --btn-grey-shadow: #222222;

  --section-gap: 15px;
  --inner-box-padding: 17px;
  --box-corner-rounding: 40px;
  --check-box-size: 23px;
  --menu-width: 50px;
  --menu-icon-size: 25px;

  --calendar-h1-size: 35px;
  --p-size: 21px;
  --smaller-p-size: 17px;
  --h2-size: 40px;
  --h2-padding: 15px;
  --h3-size: 30px;
  --h4-size: 25px;
  --event-p-size: 13px;
}

body {
  margin: 0;
  background-color: none;
  background: var(--bg);
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* Hide thingy in the top left */
.profiler-results {
  display: none;
}

#list-wrapper {
  width: 100%;
  grid-area: list;
  margin: 0;
  display: grid;
  overscroll-behavior: contain;
  overflow-y: scroll;
  grid-auto-rows: min-content;
}

#calendar-wrapper {
  grid-area: calendar;
  /* height: 97vh; */
  /* overscroll-behavior: contain;
  overflow-y: scroll; */
  margin: var(--section-gap) var(--section-gap) var(--section-gap) 0;
}

#left-menu {
  margin: 0;
  grid-area: left-menu;
  display: flex;
  flex-direction: column;
  padding: 0 8px 0 6px;
}

#left-menu>.btn {
  margin-top: 10px;
}

#left-menu>.btn i {
  font-size: var(--menu-icon-size);
}

#slider {
  width: var(--section-gap);
  grid-area: slider;
}

section .mid-section,
section.mid-section {
  background-color: var(--mid-dark);
  background: radial-gradient(at 30% 10%, rgba(25, 25, 25, 1) 30%, rgb(23, 23, 23) 90%);
  border-radius: var(--box-corner-rounding);
  padding: var(--inner-box-padding);
  overflow: hidden;
}

section .more-padding,
section.more-padding {
  padding: calc(var(--inner-box-padding) * 2.5);
}

/* Titles */
section h2 {
  font-family: "Secular One", sans-serif;
  font-weight: 600;
  color: var(--lightest-font);
  font-size: var(--h2-size);
  padding: 0;
  margin: 0;
  line-height: 1;
  width: max-content;
}

#list-wrapper h3,
#show-wrapper h3,
form label {
  color: var(--mid-font);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: var(--h3-size);
  margin: var(--section-gap) 0 0 0;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.title-button-wrapper {
  display: flex;
  column-gap: var(--section-gap);
  justify-content: space-between;
  align-items: center;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: var(--p-size);
  margin: 0;
  color: var(--light-font);
}

.menu {
  background-color: var(--darkest-dark);
}

/* @media screen and (min-width: 769px) { */
#home-wrapper {
  display: grid;
  grid-template-areas: "left-menu list slider calendar";
  grid-template-columns: 50px minmax(min-content, 2fr) min-content 5fr;
  grid-template-rows: 100vh auto 100vh 100vh 100vh;
}

/* } */

.centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.aligned {
  display: flex;
  align-items: center;
}

.take-full-space {
  height: 100vh;
  width: 100%;
}


/* Buttons */

/* Do not show any formatting unless .btn class is also added. This will allow buttons
to act like links without the href. */

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

.aligned-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.btn {
  border: none;
  opacity: 1;
  font-family: "Azeret Mono", monospace;
  color: var(--light-font);
  font-weight: 00;
  font-size: var(--p-size);
  background-color: var(--btn-grey-bg);
  box-shadow: 3px 3px var(--btn-grey-shadow);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 0.2s, background-color 0.2s, color .2s, transform 0.2s;
  border-radius: 8px;
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* "invert" color if focused */
.btn:focus {
  background-color: var(--lightest-font);
  color: var(--btn-grey-bg);
  box-shadow: 3px 3px var(--light-font);
  z-index: 0;
}

.btn.no-shadow,
.btn.btn-light-grey.no-shadow,
.btn.btn-green.no-shadow,
.btn.btn-red.no-shadow {
  box-shadow: none;
}

.btn.not-square {
  aspect-ratio: unset;
}

.btn i {
  font-size: var(--menu-icon-size);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: var(--btn-grey-shadow);
  box-shadow: none;
  color: var(--lightest-font);
  z-index: 0;
}

.btn:hover:not(.no-shadow) {
  transform: translate(1px, 2px);
  box-shadow: none;
  z-index: 0;
}

/* Colored buttons */

.btn.btn-red,
.btn.btn-green,
.btn.btn-light-grey {
  color: var(--lightest-font)
}

.btn.btn-red:focus,
.btn.btn-green:focus,
.btn.btn-light-grey:focus {
  background-color: var(--light-font);
}

.btn.btn-red:hover,
.btn.btn-green:hover,
.btn.btn-light-grey:hover {
  box-shadow: none;
}

/* Red button */

.btn.btn-red {
  background-color: var(--btn-red-bg);
  box-shadow: 2px 2px var(--btn-red-shadow);
}

.btn.btn-red:focus,
.btn.btn-red:hover {
  color: white;
  background-color: var(--btn-red-shadow);
}

/* Green button */

.btn.btn-green {
  background-color: var(--btn-green-bg);
  box-shadow: 2px 2px var(--btn-green-shadow);
}

.btn.btn-green:focus,
.btn.btn-green:hover {
  color: white;
  background-color: var(--btn-green-shadow);

}

/* Grey button */

.btn.btn-light-grey {
  background-color: var(--btn-light-grey-bg);
  box-shadow: 2px 2px var(--btn-light-grey-shadow);

}

.btn.btn-light-grey:focus,
.btn.btn-light-grey:hover {
  color: white;
  background-color: var(--btn-light-grey-shadow);
}

/* Forms */

input,
textarea {
  padding: 8px;
  background-color: var(--darkest-dark);
  border: none;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: vr(--p-size);
  color: var(--lightest-font);
}

/* Alerts */

dialog {
  /* outline: none; */
  border: none;
}

#alert-wrapper {
  position: absolute;
  bottom: var(--section-gap);
  right: 10px;
}

#alert-wrapper ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
}

.alert-pop-up {
  z-index: 5;
  border-radius: 10px;
  max-width: 500px;
  line-break: loose;
  width: fit-content;
  overflow: hidden;
  position: relative;
  padding: 10px;
  box-shadow: 20px 10px 10px var(--mid-dark);
  display: flex;
  align-items: center;
  transition: opacity 1s;
  background-color: var(--alert-bg);
  gap: 5px;
  margin: 0;
}

.alert-pop-up button {
  height: 30px;
  display: flex;
  justify-content: center;
}


.alert-pop-up .alert-cont-wrapper {
  display: flex;
  padding-right: 5px;
  flex-direction: column;
  row-gap: 2px;
}

.alert-pop-up h3 {
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Secular One", sans-serif;
  color: var(--lightest-font);
  font-weight: 800;
  font-size: 19px;
  padding: 0;
}

.alert-pop-up .alert-cont-wrapper>* {
  margin: 0;
}

.alert-pop-up p {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  color: var(--lightest-font);
  font-weight: 500;
}

.alert-pop-up.notice {
  border: 3px solid var(--notice-outline);
  background-color: var(--alert-bg);
}

.alert-pop-up.failure {
  border: 3px solid var(--failure-outline);
  background-color: var(--error-alert-bg);
}

.alert-pop-up.success {
  border: 3px solid var(--success-outline);
  background-color: var(--success-alert-bg);
}

.slide-out {
  animation: alert-slide-out 3s ease-in 4s;
}

.alert-pop-up:hover {
  animation: 0;
}

@keyframes alert-slide-out {
  0% {}

  60% {
    opacity: 70%;
    transform: translateX(0);
  }

  100% {
    opacity: 0%;
    transform: translateX(100%);
  }
}

hr {
  width: 60%;
  color: var(--mid-font);
  background-color: linear-gradient(90deg,
      rgba(94, 94, 94, 0.6979925759366247) 0%,
      rgba(94, 94, 94, 1) 25%,
      rgba(94, 94, 94, 1) 75%,
      rgba(94, 94, 94, 0.6951914554884453) 100%);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.4;
}

/* Overriding bootstrap */
ol,
ul,
dl {
  margin: 0;
}

ol,
ul {
  padding-left: 0;
}

.filter {
  background-color: rgba(0, 0, 0, 0.452);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: background-color .7s;
}

.filter:focus {
  background-color: rgba(0, 0, 0, 0.226);
}

.hidden {
  display: none;
  opacity: 0;
}


.loading-wrapper {
  display: flex;
  justify-content: center;
}

.loading-wrapper>div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  color: var(--mid-font);
  text-align: center;
}

.loading-wrapper>div p {
  color: var(--mid-font)
}

.loading-wrapper>div i {
  animation: jiggle 3s 4s infinite;
}

@keyframes jiggle {

  0%,
  5%,
  38%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  20% {
    transform: rotate(6deg);
  }

  15% {
    transform: rotate(-6deg);
  }

  30% {
    transform: rotate(-4deg);
  }
}