.task-detail.popup {
  width: max-content;
  max-width: 40vw;
  min-width: 20vw;
  overflow: visible;
}

.task-detail .checkbox-color {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  min-height: fit-content;
}

.task-detail .title {
  font-size: 25px;
  text-align: left;
}

.task-detail input.title.blank::placeholder {
  color: var(--g6);
}

.task-detail label {
  color: var(--g3);
  font-size: var(--p-size);
}

.task-detail .task-wrapper.complete s,
.task-detail .task-wrapper.complete input {
  color: var(--g7);
  text-decoration: line-through solid var(--g7) 3px ;
} 

.task-detail header .task-wrapper.hover {
  background-color: unset;
}

.task-detail .task-wrapper.complete .checkmark
{
  color: var(--g7);
} 

.task-detail .check-box-wrapper {
  scale: 1.3;
  height: 18px;
}

.task-detail header {
  min-width: fit-content;
  width: 100%;
}

.task-detail .date-wrapper > div {
  display: flex;
  gap: 5px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-detail .date-wrapper p.date,
.task-detail .date-wrapper p.time {
  font-size: var(--p-size);
}

.task-detail .add-field-btn {
  margin-top: var(--section-gap);
}