.show-wrapper.popup {
  width: max-content;
  max-width: 40vw;
  min-width: 20vw;
  overflow: visible;
}

.show-wrapper .checkbox-color {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  min-height: fit-content;
}

.show-wrapper .title {
  font-size: 30px;
  text-align: left;
}

.show-wrapper label {
  color: var(--g3);
  font-size: var(--p-size);
}

.show-wrapper .complete s,
.show-wrapper .complete input {
  color: var(--g7);
  text-decoration: line-through solid var(--g7) 3px ;
} 

.show-wrapper .task-wrapper.complete .checkmark
{
  color: var(--g7);
} 

.show-wrapper .check-box-wrapper {
  scale: 1.3;
  height: 18px;
}

.show-wrapper .header-container {
  min-width: fit-content;
}

.show-wrapper .date-wrapper > div {
  display: flex;
  gap: 5px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-wrapper .date-wrapper p.date,
.show-wrapper .date-wrapper p.time {
  font-size: var(--p-size);
}