.task-wrapper.inline,
.task-wrapper .inline {
  display: flex;
  gap: var(--section-gap);
  align-items: center;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}

.task-wrapper.hover {
  background-color: var(--list-hover);
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}

.task-wrapper.hover {
  background-color: var(--list-hover);
}

.task-wrapper .title {
  background-color: unset;
}

.task-wrapper .title:focus-within {
  background-color: var(--g8);
}

.task-wrapper.complete .title:focus-within {
  color: var(--g3);
  text-decoration: line-through solid var(--g3) 2px;
}

.title-date-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 3px;
  margin: 0;
  width: 100%;
}

.task-wrapper.complete p,
.task-wrapper.complete i.checkmark {
  color: var(--g4);
}

.task-wrapper.complete .title {
  color: var(--g7);
  text-decoration: line-through solid var(--g7) 2px;
} 

.title p,
.task-detail .title p {
  text-align: left;
}

.overdue.title,
.overdue.title p,
.overdue.date-time-wrapper p {
  color: var(--overdue);
}

.title.blank p,
.title.blank.overdue p,
.title.blank::placeholder {
  font-style: italic;
  color: var(--g3);
}

.title-date-wrapper>label>p {
  overflow: hidden;
}

/*#region Checkbox*/
label.check-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;  
  border-radius: 1px;
  height: fit-content;
} 

.check-box-wrapper input {
  display: none;
}

i.checkmark {
  width: fit-content;
  aspect-ratio: 1 / 1;
  font-size: var(--check-box-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-box-wrapper label:focus i,
.color-bubble-input:focus + .color-bubble
 {
  outline: var(--focus-highlight) solid var(--focus-border-width);;
}

.checkmark.round {
  border-radius: 100%;
  height: calc(var(--check-box-size)-1);
  width: calc(var(--check-box-size)-1);
}
/*#endregion Checkbox*/

.task-wrapper .date-time-wrapper {
  flex-direction: column;
}

.color-bubble-wrapper {
  aspect-ratio: 1 / 1;
  min-width: 15px;
  max-width: max-content;
  position: relative;
}

.color-bubble-wrapper > * {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
}

.color-bubble-input {
  color: transparent;
  opacity: 0;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.color-bubble {
  align-content: center;
}

.color-label-wrapper {
  display: flex;
  column-gap: 10px;
  max-height: min-content;
}

.color-label-wrapper input {
  max-width: 120px;
  width: 100%;
}

.color-picker {
  padding: var(--color-picker-square-size);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-picker > * {
  flex: 1 1 0px;
  width: max-content;
  width: max-content;
}

.color-picker .colors {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: max-content;
  width: max-content;
}

.color-picker .name-and-errors input {
  text-align: center;
  font-size: unset;
}

.color-picker-col {
  display: flex;
  flex-direction: column;
  width: max-content;
  width: max-content;
}

.color-picker .color-square {
  aspect-ratio: 1 / 1;
  width: var(--color-picker-square-size);
  width: var(--color-picker-square-size);
  transition: transform .1s;
}

.color-picker .color-square:hover {
  transform: scale(1.5);  
}

.description {
  min-height: min-content;
}