.task-wrapper {
  display: flex;
  align-items: center;
}

.title-date-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  column-gap: 10px;
  row-gap: 3px;
  margin: 0;
  width: 100%;
}

.task-wrapper.complete p {
  color: var(--g4);
}

.task-wrapper.complete s {
  color: var(--g4);
  text-decoration: line-through solid var(--g4) 2px ;
} 

.title-date-wrapper p,
.show-wrapper .title-wrapper p {
  color: var(--g2);
  text-align: left;
}

.title-date-wrapper>label>p {
  overflow: hidden;
}


/*#region Checkbox*/
.check-box-wrapper {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  height: 19px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-box-wrapper input {
  z-index: 1;
  position: absolute;
  opacity: 0%;
  top: 0px;
  left: 3px;
  cursor: pointer;
  margin: 0;
  height: var(--check-box-size);
  width: var(--check-box-size);
  border: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  /* Changing line height helps adjust bga */
  line-height: .8;
  width: calc(var(--check-box-size)-2);
  font-size: var(--check-box-size);
  color: var(--g4);
}

.check-box-wrapper input:focus~.checkmark {
  border: 3px solid white ;
}

.checkmark.round {
  border-radius: 100%;
  height: calc(var(--check-box-size)-1);
  width: calc(var(--check-box-size)-1);
}
/*#endregion Checkbox*/

.task-wrapper .date-time-wrapper {
  flex-direction: column;
}

.color-bubble-wrapper {
  aspect-ratio: 1 / 1;
  min-width: 20px;
  max-width: 30px;
  align-content: center;
}

.color-label-wrapper {
  display: flex;
  column-gap: 10px;
  max-height: min-content;
}

.color-label-wrapper input {
  max-width: 120px;
  width: 100%;
}