.task-detail.popup {
  width: 800px;
  max-width: 50vw;
  min-width: min-content;
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.task-detail .checkbox-color {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
}

.task-detail .input-sizer {
  text-align: left;
  white-space: break-spaces;
  overflow-y: visible;
  font-size: var(--p-size);
}

.task-detail label {
  color: var(--g3);
  font-size: var(--p-size);
}

.task-detail.task-wrapper {
  justify-content: space-between;
  padding: 0;
}
  .task-detail.task-wrapper.complete .title textarea {
    color: var(--g7);
    text-decoration: line-through solid var(--g7) 2px ;
  } 

  .task-detail.task-wrapper.complete .checkmark
  {
    color: var(--g7);
  } 

.task-detail .check-box-wrapper {
  scale: 1.3;
  height: 18px;
}

.task-detail .mid-section {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  overflow-y: scroll;
}

.field:hover .field-btns,
.field:focus-within .field-btns {
  visibility: visible;
  opacity: 100%;
}

.field .field-btns {
  opacity: 0%;
  transition: opacity .5s;
}

.task-detail .meta-data * {
  font-size: medium;
}

.description .dark-section {
  padding: 0;
}

.description .input-sizer > *   {
  padding: var(--section-gap);
  font-size: var(--p-size);
}

.task-detail header {
  min-width: fit-content;
  max-width: 100%;
  position: sticky;
  inset: 0;
  z-index: 10;
  border-radius: var(--box-corner-rounding) var(--box-corner-rounding) 0 0;
}

.task-detail h3, 
.task-detail .title {
  font-size: 25px;
}

.task-detail .date-wrapper > div {
  display: flex;
  gap: 5px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task-detail .loading {
  min-height: 100px;
}