.task-wrapper.inline,
.task-wrapper .inline {
  display: flex;
  gap: var(--section-gap);
  align-items: center;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}

.task-wrapper.hover {
  background-color: var(--list-hover);
}

/*#region Time and date */
.due.field .dark-section {
  display: flex;
  justify-content: center;
}

.time .aligned {
  position: relative;
}

.time .input-sizer,
.time {
  font-size: var(--smaller-p-size);
}

.date .input-sizer,
.date {
  font-size: var(--p-size);
}


  .time input,
  .date input {
    font-size: inherit;
  }
  
.task-wrapper .date-time-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--focus-border-width);
}

  .task-wrapper .date-time-wrapper label.date {
    display: flex;
    justify-content: center;
  }
/*#endregion Time and date */
/*#region Title */
.task-wrapper .title {
  background-color: unset;
  text-align: left;
}

  .task-wrapper .title:focus-within {
    background-color: var(--g8);
  }

.task-wrapper.complete .title:focus-within {
  color: var(--g3);
  text-decoration: line-through solid var(--g3) 2px;
}

.title-date-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 3px;
  margin: 0;
  width: 100%;
}

.task-wrapper.complete .title {
  color: var(--g7);
  text-decoration: line-through solid var(--g5) 2px;
} 

.overdue.title,
.overdue.title p,
.overdue.date-time-wrapper .date,
.overdue.date-time-wrapper .date input,
.overdue.date-time-wrapper .time,
.overdue.date-time-wrapper .time input {
  color: var(--overdue);
}

.title.blank p,
.title.blank.overdue p,
.title.blank::placeholder,
.date input::placeholder,
.time input::placeholder {
  font-style: italic;
  color: var(--g3);
}

.title-date-wrapper>label>p {
  overflow: hidden;
}

.task-wrapper.complete p,
.task-wrapper.complete i.checkmark {
  color: var(--g4);
}
/*#endregion Title */
/*#region Checkbox*/
label.check-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;  
  border-radius: 1px;
  height: fit-content;
} 

.check-box-wrapper input {
  display: none;
}

i.checkmark {
  width: fit-content;
  aspect-ratio: 1 / 1;
  font-size: var(--check-box-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-box-wrapper label:focus i,
.color-bubble-wrapper button:focus + .color-bubble
 {
  outline: var(--focus-highlight) solid var(--focus-border-width);
}

.checkmark.round {
  border-radius: 100%;
  height: calc(var(--check-box-size)-1);
  width: calc(var(--check-box-size)-1);
}
/*#endregion Checkbox*/
/*#region Color picker*/
.color-bubble-wrapper {
  width: 100%;
  min-width: fit-content;
  max-width: 40px;
  height: 100%;
  position: relative;
}

.color-bubble-wrapper > * {
  aspect-ratio: 1 / 1;
  min-width: 15px;
  max-width: 25px;
  /* So that the button and icon can be on top of each other */
  position: absolute;
  border-radius: 100%;
}

.color-bubble-input {
  color: transparent;
  opacity: 0;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.color-bubble {
  align-content: center;
}

.color-label-wrapper {
  display: flex;
  column-gap: 10px;
  max-height: min-content;
}

.color-label-wrapper input {
  max-width: 120px;
  width: 100%;
}

.color-picker {
  padding: var(--color-picker-square-size);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-picker > * {
  flex: 1 1 0px;
  width: max-content;
}

.color-picker .colors {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: max-content;
}

.color-picker .name-and-errors input {
  text-align: center;
  font-size: unset;
}

.color-picker-col {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.color-picker .color-square {
  aspect-ratio: 1 / 1;
  width: var(--color-picker-square-size);
  transition: transform .1s;
}

.color-picker .color-square:hover {
  transform: scale(1.5);  
}

/*#endregion Color picker*/
/*#region Description*/
.description {
  min-height: min-content;
}
/*#endregion Color picker*/