.task-detail.popup {
  width: 800px;
  max-width: 50vw;
  min-width: 20vw;
}

.task-detail .checkbox-color {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
}

.task-detail .input-sizer {
  text-align: left;
  white-space: break-spaces;
  overflow-y: visible;
}

.task-detail .input-sizer textarea,
.task-detail .input-sizer textarea::after {
  font: inherit;
}


.task-detail label {
  color: var(--g3);
  font-size: var(--p-size);
}

.task-detail .task-wrapper {
  justify-content: space-between;
}

.task-detail .task-wrapper.complete .title {
  color: var(--g7);
  text-decoration: line-through solid var(--g7) 2px ;
} 

.task-detail .task-wrapper.hover {
  background-color: unset;
}

.task-detail .task-wrapper.complete .checkmark
{
  color: var(--g7);
} 

.task-detail .check-box-wrapper {
  scale: 1.3;
  height: 18px;
}

.task-detail .mid-section {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.field:hover .field-btns,
.field:focus-within .field-btns {
  visibility: visible;
  opacity: 100%;
}

.field .field-btns {
  opacity: 0%;
  transition: opacity .5s;
}

.description .dark-section {
  padding: 0;
}

.description .input-sizer textarea,
.description .input-sizer::after, 
.description .input-sizer input  {
  padding: var(--section-gap);
  font-size: var(--p-size);
}

.task-detail header {
  min-width: fit-content;
  width: 100%;
}

.task-detail h3, 
.task-detail .title {
  font-size: 25px;
}

.task-detail .date-wrapper > div {
  display: flex;
  gap: 5px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}