<div id="new-wrapper"></div>
<div id="show-wrapper"></div>

<div id="left-menu" class="menu">
  <div class="btn" id="btn-add">
    <img src="static/images/add.png" alt="Plus sign icon for task add"></img>
  </div>
  <div class="btn">
    {% comment %} <%= link_to(destroy_user_session_path, method: :delete, alt: "Logout") do {% endcomment %}
    <img src="static/images/logout.png" alt="Power off icon for log out"></img>
  </div>
</div>
<div id="list-wrapper">
  {% include 'list.html' %}
  {% comment %} <%= render 'list', overdue: @overdue, today_due: @today_due,
  today_work: @today_work, upcoming: @upcoming %> {% endcomment %} 
</div>
<div id="slider"></div>
<div id="calendar-wrapper">
  {% comment %} <%= render 'calendar' %> {% endcomment %}
</div>

