<div id="new-wrapper"></div>
<div id="show-wrapper"></div>
{% load static %}

<div id="left-menu" class="menu">
  <button class="btn" id="btn-add">
    <img src={% static 'images/add.png' %} alt="Plus sign icon for task add"></img>
  </button>
  <button class="btn">
    {% comment %} <%= link_to(destroy_user_session_path, method: :delete, alt: "Logout") do {% endcomment %}
    <img src={% static 'images/logout.png' %} alt="Power off icon for log out"></img>
  </button>
</div>
<div id="list-wrapper">
  {% comment %} {% include 'list.html' %} {% endcomment %}
  {% comment %} <%= render 'list', overdue: @overdue, today_due: @today_due,
  today_work: @today_work, upcoming: @upcoming %> {% endcomment %} 
</div>
<div id="slider"></div>
<div id="calendar-wrapper">
  {% comment %} <%= render 'calendar' %> {% endcomment %}
</div>

