<div class="task-wrapper">
    <div class="check-box-wrapper"> 
        {% if task.complete %}
            <input type="checkbox" data-task-id="{{task.id}}" aria-labelledby="{{task.title}}" checked>
        {% else %}
            <input type="checkbox" data-task-id="{{task.id}}" aria-labelledby="{{task.title}}">
        {% endif %}
        {% if type == "due" %}
            <span class="checkmark"></span>
        {% else %}
            <span class="checkmark round"></span>
        {% endif %}
    </div>
    <div class="title-date-wrapper">
        {% if task.complete %}
            <p class="title {{title_classes}}"> <a "data-task-id"={{task.id}} complete: ""> {{task.title}} </a></p>
        {% else %}
            <p class="title {{title_classes}}"> <a "data-task-id"={{task.id}} > {{task.title}} </a></p>
        {% endif %}
        {% comment %} TODO href={% url 'task', {{task.id}} %} {% endcomment %}
        
        <div class="date-time-wrapper"> 
            <p class="date">{{task.due|date:'m/d/y'}}</p>
            <p class="time">{{task.due|date:'h:i A'}}</p>
        </div>
    </div>
</div>