.calendar.widget .calendar-body {
    padding-bottom: 0;
}

.calendar-body {
    display: grid;
    grid-template-areas: 
    "nav weekDays weekDays weekDays weekDays weekDays weekDays weekDays"
    "monthNames calendarDays calendarDays calendarDays calendarDays calendarDays calendarDays calendarDays";
    grid-template-columns: minmax(80px, min-content) repeat(7, 1fr);
    grid-template-rows: minmax(min-content, 50px) 100%;
    align-items: flex-start;
    gap: 0;
    height: 100%;
}

.calendar-month-infinite-scroll-wrapper {
    grid-column: monthNames / calendarDays;
    display: grid;
    grid-template-columns: subgrid;
    overflow: scroll;
    max-height: 100%;
}

/* M T W R F ... */
.week-days-header {
    grid-area: weekDays;
    display: grid;
    grid-template-columns: subgrid;
    justify-content: center;
    place-items: center;
}

/* Month titles and their days  */
.month-container {
    /* Pass the subgrid through... */
    display: inherit;
    grid-column: inherit;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(auto-fill, max-height);
    align-items: flex-start;
    height: fit-content;
}

/* Month titles */
.month-container .month-title {
    grid-area: monthNames;
    justify-self: flex-start;
    width: 100%;
    border-top: 2px solid var(--g4);
    padding: calc(var(--section-gap)/2) calc(var(--section-gap)/2) 0 0;
}

.month-container .month-title h2 {
    font-size: 30px;
}

.month-container .month-title h3 {
    color: var(--g4);
}

/* Actual grid of days  */
.month-container .day-grid {
    grid-area: calendarDays;
    display: grid;
    grid-template-columns: subgrid;
}

.month-container .week-container {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--section-gap)/2);
}

.day-container.border-top {
    border-top: 2px solid var(--g4); 
}
.day-container.border-bottom {
    border-bottom: 2px solid var(--g4);
}
.day-container.border-left {
    border-left: 2px solid var(--g4);
}
.day-container.border-right {
    border-right: 2px solid var(--g4);
}

.day-container.past .dark-section {
    background-color: #32323356;
}

.day-container.current .dark-section {
    border: 3px solid var(--g6);
}

.day-container p {
    color: var(--g4);
}

.day-container .dark-section p {
    font-size: medium;
} 

.day-container .dark-section i {
    font-size: medium;
}

.day-container .dark-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 5px 10px 5px;
    margin: 0;
    min-height: 70px;
    height: 100%;
    width: 100%;
}
