@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* @media screen and (min-width: 769px) { */
#home-wrapper {
  display: grid;
  background-color: rgb(37, 41, 46);
  grid-template-areas: "left-menu list slider calendar";
  grid-template-columns: 50px minmax(min-content, 2fr) min-content 5fr;
  grid-template-rows: 100vh auto 100vh 100vh 100vh;
}