name: Coverage
on: push
jobs:
  coverage: 
    name: Generate coverage
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./quill-fe
    environment: dev
    strategy:
      matrix:
        node-version: [16.13.1]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm test -a -- --coverage --reporter=lcov
    - run: cd ./coverage && ls
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true
        files: ./quill-fe/coverage/coverage-final.json
        flags: FE
